MasterISS.CustomerService/Connected Services/GenericCustomerServiceReference/GenericCustomerService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.Support" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.Support" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.184.3.63:5998/GenericCustomerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" />
  <xs:import schemaLocation="http://10.184.3.63:5998/GenericCustomerService.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CustomerServiceGetCustomerSupportListResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q1:BaseResponseOfArrayOfGetCustomerSupportListResponseSHA1Tzfx7AaR">
        <xs:sequence>
          <xs:element minOccurs="0" name="GetCustomerSupportListResponse" nillable="true" type="tns:ArrayOfGetCustomerSupportListResponse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceGetCustomerSupportListResponse" nillable="true" type="tns:CustomerServiceGetCustomerSupportListResponse" />
  <xs:complexType name="ArrayOfGetCustomerSupportListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetCustomerSupportListResponse" nillable="true" type="tns:GetCustomerSupportListResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetCustomerSupportListResponse" nillable="true" type="tns:ArrayOfGetCustomerSupportListResponse" />
  <xs:complexType name="GetCustomerSupportListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApprovalDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="State" type="xs:short" />
      <xs:element minOccurs="0" name="StateText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupportNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupportRequestSubType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupportRequestType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCustomerSupportListResponse" nillable="true" type="tns:GetCustomerSupportListResponse" />
  <xs:complexType name="CustomerServiceSupportDetailMessagesResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q2:BaseResponseOfSupportDetailMessagesResponseSHA1Tzfx7AaR">
        <xs:sequence>
          <xs:element minOccurs="0" name="SupportDetailMessagesResponse" nillable="true" type="tns:SupportDetailMessagesResponse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceSupportDetailMessagesResponse" nillable="true" type="tns:CustomerServiceSupportDetailMessagesResponse" />
  <xs:complexType name="SupportDetailMessagesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerApprovalDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="State" nillable="true" type="tns:SupportDetailMessagesResponse.StateType" />
      <xs:element minOccurs="0" name="SupportDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SupportMessages" nillable="true" type="tns:ArrayOfSupportDetailMessagesResponse.SupportMessageList" />
      <xs:element minOccurs="0" name="SupportNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupportRequestDisplayType" nillable="true" type="tns:SupportDetailMessagesResponse.SupportRequestDisplay" />
      <xs:element minOccurs="0" name="SupportRequestName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupportRequestSubName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupportDetailMessagesResponse" nillable="true" type="tns:SupportDetailMessagesResponse" />
  <xs:complexType name="SupportDetailMessagesResponse.StateType">
    <xs:sequence>
      <xs:element minOccurs="0" name="StateId" type="xs:int" />
      <xs:element minOccurs="0" name="StateName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupportDetailMessagesResponse.StateType" nillable="true" type="tns:SupportDetailMessagesResponse.StateType" />
  <xs:complexType name="ArrayOfSupportDetailMessagesResponse.SupportMessageList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupportDetailMessagesResponse.SupportMessageList" nillable="true" type="tns:SupportDetailMessagesResponse.SupportMessageList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupportDetailMessagesResponse.SupportMessageList" nillable="true" type="tns:ArrayOfSupportDetailMessagesResponse.SupportMessageList" />
  <xs:complexType name="SupportDetailMessagesResponse.SupportMessageList">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsCustomer" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StageId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupportDetailMessagesResponse.SupportMessageList" nillable="true" type="tns:SupportDetailMessagesResponse.SupportMessageList" />
  <xs:complexType name="SupportDetailMessagesResponse.SupportRequestDisplay">
    <xs:sequence>
      <xs:element minOccurs="0" name="SupportRequestDisplayTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="SupportRequestDisplayTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupportDetailMessagesResponse.SupportRequestDisplay" nillable="true" type="tns:SupportDetailMessagesResponse.SupportRequestDisplay" />
  <xs:complexType name="CustomerServiceSupportRegisterResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q3:BaseResponseOfSupportRegisterResponseSHA1Tzfx7AaR">
        <xs:sequence>
          <xs:element minOccurs="0" name="SupportRegisterResponse" nillable="true" type="tns:SupportRegisterResponse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceSupportRegisterResponse" nillable="true" type="tns:CustomerServiceSupportRegisterResponse" />
  <xs:complexType name="SupportRegisterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="SupportId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupportRegisterResponse" nillable="true" type="tns:SupportRegisterResponse" />
  <xs:complexType name="CustomerServiceHasActiveRequestResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q4:BaseResponseOfNullableOfbooleanSHA1qBRhzOKh">
        <xs:sequence>
          <xs:element minOccurs="0" name="HasActiveRequest" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceHasActiveRequestResponse" nillable="true" type="tns:CustomerServiceHasActiveRequestResponse" />
  <xs:complexType name="CustomerServiceSupportStatusResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q5:BaseResponseOfSupportStatusResponseSHA1Tzfx7AaR">
        <xs:sequence>
          <xs:element minOccurs="0" name="SupportStatusResponse" nillable="true" type="tns:SupportStatusResponse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceSupportStatusResponse" nillable="true" type="tns:CustomerServiceSupportStatusResponse" />
  <xs:complexType name="SupportStatusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SupportRequestIds" nillable="true" type="q6:ArrayOflong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupportStatusResponse" nillable="true" type="tns:SupportStatusResponse" />
  <xs:complexType name="CustomerServiceSendSubscriberSMSResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q7:BaseResponseOfNullableOfbooleanSHA1qBRhzOKh">
        <xs:sequence>
          <xs:element minOccurs="0" name="SendSubscriberSMSResponse" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceSendSubscriberSMSResponse" nillable="true" type="tns:CustomerServiceSendSubscriberSMSResponse" />
  <xs:complexType name="CustomerServicGetSupportAttachmentListResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q8:BaseResponseOfArrayOfGetSupportAttachmentListResponseSHA1Tzfx7AaR">
        <xs:sequence>
          <xs:element minOccurs="0" name="GetSupportAttachmentList" nillable="true" type="tns:ArrayOfGetSupportAttachmentListResponse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServicGetSupportAttachmentListResponse" nillable="true" type="tns:CustomerServicGetSupportAttachmentListResponse" />
  <xs:complexType name="ArrayOfGetSupportAttachmentListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetSupportAttachmentListResponse" nillable="true" type="tns:GetSupportAttachmentListResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetSupportAttachmentListResponse" nillable="true" type="tns:ArrayOfGetSupportAttachmentListResponse" />
  <xs:complexType name="GetSupportAttachmentListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Datetime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileExtention" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MD5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MIMEType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerSideName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StageId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetSupportAttachmentListResponse" nillable="true" type="tns:GetSupportAttachmentListResponse" />
  <xs:complexType name="CustomerServiceGetSupportAttachmentResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q9:BaseResponseOfGetSupportAttachmentResponseSHA1Tzfx7AaR">
        <xs:sequence>
          <xs:element minOccurs="0" name="GetSupportAttachment" nillable="true" type="tns:GetSupportAttachmentResponse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceGetSupportAttachmentResponse" nillable="true" type="tns:CustomerServiceGetSupportAttachmentResponse" />
  <xs:complexType name="GetSupportAttachmentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileContent" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileExtention" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MD5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MIMEType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerSideName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StageId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetSupportAttachmentResponse" nillable="true" type="tns:GetSupportAttachmentResponse" />
  <xs:complexType name="CustomerServiceSaveSupportAttachmentResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q10:BaseResponseOfbooleanSHA1Miy85_SUl">
        <xs:sequence>
          <xs:element minOccurs="0" name="SaveSupportAttachmentResult" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceSaveSupportAttachmentResponse" nillable="true" type="tns:CustomerServiceSaveSupportAttachmentResponse" />
</xs:schema>