MasterISS.CustomerService/Connected Services/GenericCustomerServiceReference/GenericCustomerService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.184.3.63:5998/GenericCustomerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" />
  <xs:import schemaLocation="http://10.184.3.63:5998/GenericCustomerService.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CustomerServiceBaseRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q1:BaseRequestOfBaseSubscriptionRequestSHA1CuT410mT">
        <xs:sequence>
          <xs:element minOccurs="0" name="SubscriptionParameters" nillable="true" type="tns:BaseSubscriptionRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceBaseRequest" nillable="true" type="tns:CustomerServiceBaseRequest" />
  <xs:complexType name="BaseSubscriptionRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="SubscriptionId" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseSubscriptionRequest" nillable="true" type="tns:BaseSubscriptionRequest" />
  <xs:complexType name="CustomerServiceAuthenticationRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q2:BaseRequestOfAuthenticationRequestSHA1CuT410mT">
        <xs:sequence>
          <xs:element minOccurs="0" name="AuthenticationParameters" nillable="true" type="tns:AuthenticationRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceAuthenticationRequest" nillable="true" type="tns:CustomerServiceAuthenticationRequest" />
  <xs:complexType name="AuthenticationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationRequest" nillable="true" type="tns:AuthenticationRequest" />
  <xs:complexType name="CustomerServiceQuotaPackagesRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q3:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceQuotaPackagesRequest" nillable="true" type="tns:CustomerServiceQuotaPackagesRequest" />
  <xs:complexType name="HttpContextParameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserAgent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserHostAddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HttpContextParameters" nillable="true" type="tns:HttpContextParameters" />
  <xs:complexType name="CustomerServiceAuthenticationSMSConfirmRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q4:BaseRequestOfAuthenticationSMSConfirmRequestSHA1CuT410mT">
        <xs:sequence>
          <xs:element minOccurs="0" name="AuthenticationSMSConfirmParameters" nillable="true" type="tns:AuthenticationSMSConfirmRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceAuthenticationSMSConfirmRequest" nillable="true" type="tns:CustomerServiceAuthenticationSMSConfirmRequest" />
  <xs:complexType name="AuthenticationSMSConfirmRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SMSPassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationSMSConfirmRequest" nillable="true" type="tns:AuthenticationSMSConfirmRequest" />
  <xs:complexType name="CustomerServiceChangeSubClientRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q5:BaseRequestOfChangeSubClientRequestSHA1CuT410mT">
        <xs:sequence>
          <xs:element minOccurs="0" name="ChangeSubClientRequest" nillable="true" type="tns:ChangeSubClientRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceChangeSubClientRequest" nillable="true" type="tns:CustomerServiceChangeSubClientRequest" />
  <xs:complexType name="ChangeSubClientRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentSubscriptionID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="TargetSubscriptionID" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChangeSubClientRequest" nillable="true" type="tns:ChangeSubClientRequest" />
  <xs:complexType name="CustomerServiceGenericAppSettingsRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q6:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceGenericAppSettingsRequest" nillable="true" type="tns:CustomerServiceGenericAppSettingsRequest" />
  <xs:complexType name="CustomerServiceSendSubscriberSMSRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q7:BaseRequestOfSendSubscriberSMSRequestSHA1CuT410mT">
        <xs:sequence>
          <xs:element minOccurs="0" name="SendSubscriberSMS" nillable="true" type="tns:SendSubscriberSMSRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceSendSubscriberSMSRequest" nillable="true" type="tns:CustomerServiceSendSubscriberSMSRequest" />
  <xs:complexType name="SendSubscriberSMSRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseSubscriptionRequest">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="BillIds" nillable="true" type="q8:ArrayOflong" />
          <xs:element minOccurs="0" name="PayableAmount" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="SubscriptionPaidType" nillable="true" type="xs:short" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SendSubscriberSMSRequest" nillable="true" type="tns:SendSubscriberSMSRequest" />
  <xs:complexType name="CustomerServiceVPOSErrorParameterNameRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q9:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceVPOSErrorParameterNameRequest" nillable="true" type="tns:CustomerServiceVPOSErrorParameterNameRequest" />
  <xs:complexType name="CustomerServiceExistingCustomerRegisterRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q10:BaseRequestOfExistingCustomerRegisterRequestSHA1CuT410mT">
        <xs:sequence>
          <xs:element minOccurs="0" name="ExistingCustomerRegister" nillable="true" type="tns:ExistingCustomerRegisterRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceExistingCustomerRegisterRequest" nillable="true" type="tns:CustomerServiceExistingCustomerRegisterRequest" />
  <xs:complexType name="ExistingCustomerRegisterRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="RegistrationInfo" nillable="true" type="tns:RegistrationInfo" />
      <xs:element minOccurs="0" name="SubscriberID" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExistingCustomerRegisterRequest" nillable="true" type="tns:ExistingCustomerRegisterRequest" />
  <xs:complexType name="RegistrationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReferralDiscount" nillable="true" type="tns:ReferralDiscountInfo" />
      <xs:element minOccurs="0" name="ServiceID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SetupAddress" nillable="true" type="tns:AddressInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistrationInfo" nillable="true" type="tns:RegistrationInfo" />
  <xs:complexType name="ReferralDiscountInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReferenceNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReferralDiscountInfo" nillable="true" type="tns:ReferralDiscountInfo" />
  <xs:complexType name="AddressInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressNo" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="AddressText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApartmentID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ApartmentNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistrictID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="DistrictName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoorID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="DoorNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Floor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NeighbourhoodID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="NeighbourhoodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProvinceID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ProvinceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RuralCode" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="StreetID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="StreetName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressInfo" nillable="true" type="tns:AddressInfo" />
  <xs:complexType name="CustomerServiceCommitmentLengthsRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q11:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceCommitmentLengthsRequest" nillable="true" type="tns:CustomerServiceCommitmentLengthsRequest" />
  <xs:complexType name="CustomerServiceProvincesRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q12:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceProvincesRequest" nillable="true" type="tns:CustomerServiceProvincesRequest" />
  <xs:complexType name="CustomerServiceNameValuePairRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q13:BaseRequestOfNullableOflongSHA1qBRhzOKh">
        <xs:sequence>
          <xs:element minOccurs="0" name="ItemCode" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceNameValuePairRequest" nillable="true" type="tns:CustomerServiceNameValuePairRequest" />
  <xs:complexType name="CustomerServiceAddressDetailsRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q14:BaseRequestOfNullableOflongSHA1qBRhzOKh">
        <xs:sequence>
          <xs:element minOccurs="0" name="BBK" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceAddressDetailsRequest" nillable="true" type="tns:CustomerServiceAddressDetailsRequest" />
  <xs:complexType name="CustomerServiceExternalTariffRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q15:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceExternalTariffRequest" nillable="true" type="tns:CustomerServiceExternalTariffRequest" />
  <xs:complexType name="CustomerServiceServiceAvailabilityRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q16:BaseRequestOfServiceAvailabilityRequestSHA1CuT410mT">
        <xs:sequence>
          <xs:element minOccurs="0" name="ServiceAvailabilityParameters" nillable="true" type="tns:ServiceAvailabilityRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceServiceAvailabilityRequest" nillable="true" type="tns:CustomerServiceServiceAvailabilityRequest" />
  <xs:complexType name="ServiceAvailabilityRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="bbk" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceAvailabilityRequest" nillable="true" type="tns:ServiceAvailabilityRequest" />
  <xs:complexType name="CustomerServiceGetClientAttachmentRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q17="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q17:BaseRequestOfGetClientAttachmentRequestSHA1CuT410mT">
        <xs:sequence>
          <xs:element minOccurs="0" name="GetClientAttachment" nillable="true" type="tns:GetClientAttachmentRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceGetClientAttachmentRequest" nillable="true" type="tns:CustomerServiceGetClientAttachmentRequest" />
  <xs:complexType name="GetClientAttachmentRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubscriptionId" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetClientAttachmentRequest" nillable="true" type="tns:GetClientAttachmentRequest" />
  <xs:complexType name="CustomerServiceAuthenticationWithPasswordRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q18:BaseRequestOfAuthenticationWithPasswordRequestSHA1CuT410mT">
        <xs:sequence>
          <xs:element minOccurs="0" name="AuthenticationWithPasswordParameters" nillable="true" type="tns:AuthenticationWithPasswordRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceAuthenticationWithPasswordRequest" nillable="true" type="tns:CustomerServiceAuthenticationWithPasswordRequest" />
  <xs:complexType name="AuthenticationWithPasswordRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationWithPasswordRequest" nillable="true" type="tns:AuthenticationWithPasswordRequest" />
  <xs:complexType name="CustomerServiceSaveClientAttachmentRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q19="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q19:BaseRequestOfSaveClientAttachmentRequestSHA1CuT410mT">
        <xs:sequence>
          <xs:element minOccurs="0" name="SaveClientAttachmentParameters" nillable="true" type="tns:SaveClientAttachmentRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceSaveClientAttachmentRequest" nillable="true" type="tns:CustomerServiceSaveClientAttachmentRequest" />
  <xs:complexType name="SaveClientAttachmentRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttachmentType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FileContent" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileExtention" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubscriptionId" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaveClientAttachmentRequest" nillable="true" type="tns:SaveClientAttachmentRequest" />
</xs:schema>