MasterISS.CustomerService/Connected Services/NetspeedCustomerServiceReference/NetspeedCustomerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NetspeedCustomerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_INetspeedCustomerService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56365/NetspeedCustomerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56365/NetspeedCustomerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56365/NetspeedCustomerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.TelekomInfrastructureService" />
      <xsd:import schemaLocation="http://localhost:56365/NetspeedCustomerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" />
      <xsd:import schemaLocation="http://localhost:56365/NetspeedCustomerService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests" />
      <xsd:import schemaLocation="http://localhost:56365/NetspeedCustomerService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses" />
      <xsd:import schemaLocation="http://localhost:56365/NetspeedCustomerService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.Payment" />
      <xsd:import schemaLocation="http://localhost:56365/NetspeedCustomerService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.Support" />
      <xsd:import schemaLocation="http://localhost:56365/NetspeedCustomerService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.Support" />
      <xsd:import schemaLocation="http://localhost:56365/NetspeedCustomerService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.Payment" />
      <xsd:import schemaLocation="http://localhost:56365/NetspeedCustomerService.svc?xsd=xsd10" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INetspeedCustomerService_GetProvinces_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProvinces" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetProvinces_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProvincesResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetProvinceDistricts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProvinceDistricts" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetProvinceDistricts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProvinceDistrictsResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetDistrictRuralRegions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDistrictRuralRegions" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetDistrictRuralRegions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDistrictRuralRegionsResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetRuralRegionNeighbourhoods_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRuralRegionNeighbourhoods" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetRuralRegionNeighbourhoods_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRuralRegionNeighbourhoodsResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetNeighbourhoodStreets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNeighbourhoodStreets" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetNeighbourhoodStreets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNeighbourhoodStreetsResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetStreetBuildings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStreetBuildings" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetStreetBuildings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStreetBuildingsResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetBuildingApartments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildingApartments" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetBuildingApartments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildingApartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetApartmentAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApartmentAddress" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetApartmentAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApartmentAddressResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_ServiceAvailability_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceAvailability" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_ServiceAvailability_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceAvailabilityResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetKeyFragment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKeyFragment" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetKeyFragment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKeyFragmentResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetCustomerInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerInfo" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetCustomerInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerInfoResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetCustomerBills_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerBills" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetCustomerBills_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerBillsResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_CustomerAuthentication_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomerAuthentication" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_CustomerAuthentication_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomerAuthenticationResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetCustomerSpecialOffers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerSpecialOffers" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetCustomerSpecialOffers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerSpecialOffersResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetCustomerTariffAndTrafficInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerTariffAndTrafficInfo" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetCustomerTariffAndTrafficInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerTariffAndTrafficInfoResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetSupportTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportTypes" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetSupportTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportTypesResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetSupportSubTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportSubTypes" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetSupportSubTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportSubTypesResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetSupportList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportList" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetSupportList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportListResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetSupportDetailMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportDetailMessages" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetSupportDetailMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportDetailMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_SupportRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:SupportRegister" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_SupportRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:SupportRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_SendSupportMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendSupportMessage" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_SendSupportMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendSupportMessageResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_ConnectionStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectionStatus" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_ConnectionStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectionStatusResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_EArchivePDF_InputMessage">
    <wsdl:part name="parameters" element="tns:EArchivePDF" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_EArchivePDF_OutputMessage">
    <wsdl:part name="parameters" element="tns:EArchivePDFResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_PayBills_InputMessage">
    <wsdl:part name="parameters" element="tns:PayBills" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_PayBills_OutputMessage">
    <wsdl:part name="parameters" element="tns:PayBillsResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetVPOSForm_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVPOSForm" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetVPOSForm_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVPOSFormResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_QuotaPackageList_InputMessage">
    <wsdl:part name="parameters" element="tns:QuotaPackageList" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_QuotaPackageList_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuotaPackageListResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_QuotaSale_InputMessage">
    <wsdl:part name="parameters" element="tns:QuotaSale" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_QuotaSale_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuotaSaleResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_CanHaveQuotaSale_InputMessage">
    <wsdl:part name="parameters" element="tns:CanHaveQuotaSale" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_CanHaveQuotaSale_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanHaveQuotaSaleResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_AddCardSMSCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCardSMSCheck" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_AddCardSMSCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCardSMSCheckResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_AddCard_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCard" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_AddCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCardResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_RegisteredMobilexpressCardList_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisteredMobilexpressCardList" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_RegisteredMobilexpressCardList_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisteredMobilexpressCardListResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_RemoveCardSMSCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCardSMSCheck" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_RemoveCardSMSCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCardSMSCheckResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_RemoveCard_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCard" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_RemoveCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCardResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_ActivateAutomaticPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivateAutomaticPayment" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_ActivateAutomaticPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivateAutomaticPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_DeactivateAutomaticPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:DeactivateAutomaticPayment" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_DeactivateAutomaticPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeactivateAutomaticPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_AuthenticationSMSConfirm_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticationSMSConfirm" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_AuthenticationSMSConfirm_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticationSMSConfirmResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_SubscriptionBasicInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscriptionBasicInfo" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_SubscriptionBasicInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscriptionBasicInfoResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_ChangeSubClient_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeSubClient" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_ChangeSubClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeSubClientResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_SupportHasActiveRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SupportHasActiveRequest" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_SupportHasActiveRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SupportHasActiveRequestResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_SupportStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SupportStatus" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_SupportStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SupportStatusResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_BillPayableAmount_InputMessage">
    <wsdl:part name="parameters" element="tns:BillPayableAmount" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_BillPayableAmount_OutputMessage">
    <wsdl:part name="parameters" element="tns:BillPayableAmountResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_PaymentTypeList_InputMessage">
    <wsdl:part name="parameters" element="tns:PaymentTypeList" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_PaymentTypeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:PaymentTypeListResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GenericAppSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:GenericAppSettings" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GenericAppSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenericAppSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_SendSubscriberSMS_InputMessage">
    <wsdl:part name="parameters" element="tns:SendSubscriberSMS" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_SendSubscriberSMS_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendSubscriberSMSResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_AutoPaymentList_InputMessage">
    <wsdl:part name="parameters" element="tns:AutoPaymentList" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_AutoPaymentList_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutoPaymentListResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_PaymentSystemLog_InputMessage">
    <wsdl:part name="parameters" element="tns:PaymentSystemLog" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_PaymentSystemLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:PaymentSystemLogResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_MobilexpressPayBill_InputMessage">
    <wsdl:part name="parameters" element="tns:MobilexpressPayBill" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_MobilexpressPayBill_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobilexpressPayBillResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetVPOSErrorParameterName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVPOSErrorParameterName" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetVPOSErrorParameterName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVPOSErrorParameterNameResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_CommitmentLengthList_InputMessage">
    <wsdl:part name="parameters" element="tns:CommitmentLengthList" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_CommitmentLengthList_OutputMessage">
    <wsdl:part name="parameters" element="tns:CommitmentLengthListResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_ExternalTariffList_InputMessage">
    <wsdl:part name="parameters" element="tns:ExternalTariffList" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_ExternalTariffList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExternalTariffListResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetCustomerFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerFiles" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetCustomerFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerFilesResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetClientAttachment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientAttachment" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetClientAttachment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetSupportAttachmentList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportAttachmentList" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetSupportAttachmentList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportAttachmentListResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetSupportAttachment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportAttachment" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetSupportAttachment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_CustomerAuthenticationWithPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomerAuthenticationWithPassword" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_CustomerAuthenticationWithPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomerAuthenticationWithPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_HasClientPreRegisterSubscription_InputMessage">
    <wsdl:part name="parameters" element="tns:HasClientPreRegisterSubscription" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_HasClientPreRegisterSubscription_OutputMessage">
    <wsdl:part name="parameters" element="tns:HasClientPreRegisterSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_SaveClientAttachment_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveClientAttachment" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_SaveClientAttachment_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveClientAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetClientPDFForm_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientPDFForm" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetClientPDFForm_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientPDFFormResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_EArchivePDFMail_InputMessage">
    <wsdl:part name="parameters" element="tns:EArchivePDFMail" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_EArchivePDFMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:EArchivePDFMailResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_ChangeClientOnlinePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeClientOnlinePassword" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_ChangeClientOnlinePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeClientOnlinePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetSubscriptionList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubscriptionList" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_GetSubscriptionList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubscriptionListResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_ExistingCustomerRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:ExistingCustomerRegister" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_ExistingCustomerRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExistingCustomerRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_AppLog_InputMessage">
    <wsdl:part name="parameters" element="tns:AppLog" />
  </wsdl:message>
  <wsdl:message name="INetspeedCustomerService_AppLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:AppLogResponse" />
  </wsdl:message>
  <wsdl:portType name="INetspeedCustomerService">
    <wsdl:operation name="GetProvinces">
      <wsdl:input wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/GetProvinces" message="tns:INetspeedCustomerService_GetProvinces_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/GetProvincesResponse" message="tns:INetspeedCustomerService_GetProvinces_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProvinceDistricts">
      <wsdl:input wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/GetProvinceDistricts" message="tns:INetspeedCustomerService_GetProvinceDistricts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/GetProvinceDistrictsResponse" message="tns:INetspeedCustomerService_GetProvinceDistricts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDistrictRuralRegions">
      <wsdl:input wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/GetDistrictRuralRegions" message="tns:INetspeedCustomerService_GetDistrictRuralRegions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/GetDistrictRuralRegionsResponse" message="tns:INetspeedCustomerService_GetDistrictRuralRegions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRuralRegionNeighbourhoods">
      <wsdl:input wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/GetRuralRegionNeighbourhoods" message="tns:INetspeedCustomerService_GetRuralRegionNeighbourhoods_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/GetRuralRegionNeighbourhoodsResponse" message="tns:INetspeedCustomerService_GetRuralRegionNeighbourhoods_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNeighbourhoodStreets">
      <wsdl:input wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/GetNeighbourhoodStreets" message="tns:INetspeedCustomerService_GetNeighbourhoodStreets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/GetNeighbourhoodStreetsResponse" message="tns:INetspeedCustomerService_GetNeighbourhoodStreets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStreetBuildings">
      <wsdl:input wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/GetStreetBuildings" message="tns:INetspeedCustomerService_GetStreetBuildings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/GetStreetBuildingsResponse" message="tns:INetspeedCustomerService_GetStreetBuildings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBuildingApartments">
      <wsdl:input wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/GetBuildingApartments" message="tns:INetspeedCustomerService_GetBuildingApartments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/GetBuildingApartmentsResponse" message="tns:INetspeedCustomerService_GetBuildingApartments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApartmentAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/GetApartmentAddress" message="tns:INetspeedCustomerService_GetApartmentAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/GetApartmentAddressResponse" message="tns:INetspeedCustomerService_GetApartmentAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceAvailability">
      <wsdl:input wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/ServiceAvailability" message="tns:INetspeedCustomerService_ServiceAvailability_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITelekomInfrastructureService/ServiceAvailabilityResponse" message="tns:INetspeedCustomerService_ServiceAvailability_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKeyFragment">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetKeyFragment" message="tns:INetspeedCustomerService_GetKeyFragment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetKeyFragmentResponse" message="tns:INetspeedCustomerService_GetKeyFragment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetCustomerInfo" message="tns:INetspeedCustomerService_GetCustomerInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetCustomerInfoResponse" message="tns:INetspeedCustomerService_GetCustomerInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerBills">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetCustomerBills" message="tns:INetspeedCustomerService_GetCustomerBills_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetCustomerBillsResponse" message="tns:INetspeedCustomerService_GetCustomerBills_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomerAuthentication">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/CustomerAuthentication" message="tns:INetspeedCustomerService_CustomerAuthentication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/CustomerAuthenticationResponse" message="tns:INetspeedCustomerService_CustomerAuthentication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerSpecialOffers">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetCustomerSpecialOffers" message="tns:INetspeedCustomerService_GetCustomerSpecialOffers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetCustomerSpecialOffersResponse" message="tns:INetspeedCustomerService_GetCustomerSpecialOffers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerTariffAndTrafficInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetCustomerTariffAndTrafficInfo" message="tns:INetspeedCustomerService_GetCustomerTariffAndTrafficInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetCustomerTariffAndTrafficInfoResponse" message="tns:INetspeedCustomerService_GetCustomerTariffAndTrafficInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupportTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetSupportTypes" message="tns:INetspeedCustomerService_GetSupportTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetSupportTypesResponse" message="tns:INetspeedCustomerService_GetSupportTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupportSubTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetSupportSubTypes" message="tns:INetspeedCustomerService_GetSupportSubTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetSupportSubTypesResponse" message="tns:INetspeedCustomerService_GetSupportSubTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupportList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetSupportList" message="tns:INetspeedCustomerService_GetSupportList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetSupportListResponse" message="tns:INetspeedCustomerService_GetSupportList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupportDetailMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetSupportDetailMessages" message="tns:INetspeedCustomerService_GetSupportDetailMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetSupportDetailMessagesResponse" message="tns:INetspeedCustomerService_GetSupportDetailMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SupportRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/SupportRegister" message="tns:INetspeedCustomerService_SupportRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/SupportRegisterResponse" message="tns:INetspeedCustomerService_SupportRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendSupportMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/SendSupportMessage" message="tns:INetspeedCustomerService_SendSupportMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/SendSupportMessageResponse" message="tns:INetspeedCustomerService_SendSupportMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConnectionStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/ConnectionStatus" message="tns:INetspeedCustomerService_ConnectionStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/ConnectionStatusResponse" message="tns:INetspeedCustomerService_ConnectionStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EArchivePDF">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/EArchivePDF" message="tns:INetspeedCustomerService_EArchivePDF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/EArchivePDFResponse" message="tns:INetspeedCustomerService_EArchivePDF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PayBills">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/PayBills" message="tns:INetspeedCustomerService_PayBills_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/PayBillsResponse" message="tns:INetspeedCustomerService_PayBills_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVPOSForm">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetVPOSForm" message="tns:INetspeedCustomerService_GetVPOSForm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetVPOSFormResponse" message="tns:INetspeedCustomerService_GetVPOSForm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuotaPackageList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/QuotaPackageList" message="tns:INetspeedCustomerService_QuotaPackageList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/QuotaPackageListResponse" message="tns:INetspeedCustomerService_QuotaPackageList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuotaSale">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/QuotaSale" message="tns:INetspeedCustomerService_QuotaSale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/QuotaSaleResponse" message="tns:INetspeedCustomerService_QuotaSale_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CanHaveQuotaSale">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/CanHaveQuotaSale" message="tns:INetspeedCustomerService_CanHaveQuotaSale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/CanHaveQuotaSaleResponse" message="tns:INetspeedCustomerService_CanHaveQuotaSale_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCardSMSCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/AddCardSMSCheck" message="tns:INetspeedCustomerService_AddCardSMSCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/AddCardSMSCheckResponse" message="tns:INetspeedCustomerService_AddCardSMSCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/AddCard" message="tns:INetspeedCustomerService_AddCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/AddCardResponse" message="tns:INetspeedCustomerService_AddCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisteredMobilexpressCardList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/RegisteredMobilexpressCardList" message="tns:INetspeedCustomerService_RegisteredMobilexpressCardList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/RegisteredMobilexpressCardListResponse" message="tns:INetspeedCustomerService_RegisteredMobilexpressCardList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCardSMSCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/RemoveCardSMSCheck" message="tns:INetspeedCustomerService_RemoveCardSMSCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/RemoveCardSMSCheckResponse" message="tns:INetspeedCustomerService_RemoveCardSMSCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/RemoveCard" message="tns:INetspeedCustomerService_RemoveCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/RemoveCardResponse" message="tns:INetspeedCustomerService_RemoveCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivateAutomaticPayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/ActivateAutomaticPayment" message="tns:INetspeedCustomerService_ActivateAutomaticPayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/ActivateAutomaticPaymentResponse" message="tns:INetspeedCustomerService_ActivateAutomaticPayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeactivateAutomaticPayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/DeactivateAutomaticPayment" message="tns:INetspeedCustomerService_DeactivateAutomaticPayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/DeactivateAutomaticPaymentResponse" message="tns:INetspeedCustomerService_DeactivateAutomaticPayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticationSMSConfirm">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/AuthenticationSMSConfirm" message="tns:INetspeedCustomerService_AuthenticationSMSConfirm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/AuthenticationSMSConfirmResponse" message="tns:INetspeedCustomerService_AuthenticationSMSConfirm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubscriptionBasicInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/SubscriptionBasicInfo" message="tns:INetspeedCustomerService_SubscriptionBasicInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/SubscriptionBasicInfoResponse" message="tns:INetspeedCustomerService_SubscriptionBasicInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeSubClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/ChangeSubClient" message="tns:INetspeedCustomerService_ChangeSubClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/ChangeSubClientResponse" message="tns:INetspeedCustomerService_ChangeSubClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SupportHasActiveRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/SupportHasActiveRequest" message="tns:INetspeedCustomerService_SupportHasActiveRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/SupportHasActiveRequestResponse" message="tns:INetspeedCustomerService_SupportHasActiveRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SupportStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/SupportStatus" message="tns:INetspeedCustomerService_SupportStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/SupportStatusResponse" message="tns:INetspeedCustomerService_SupportStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BillPayableAmount">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/BillPayableAmount" message="tns:INetspeedCustomerService_BillPayableAmount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/BillPayableAmountResponse" message="tns:INetspeedCustomerService_BillPayableAmount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PaymentTypeList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/PaymentTypeList" message="tns:INetspeedCustomerService_PaymentTypeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/PaymentTypeListResponse" message="tns:INetspeedCustomerService_PaymentTypeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenericAppSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GenericAppSettings" message="tns:INetspeedCustomerService_GenericAppSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GenericAppSettingsResponse" message="tns:INetspeedCustomerService_GenericAppSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendSubscriberSMS">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/SendSubscriberSMS" message="tns:INetspeedCustomerService_SendSubscriberSMS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/SendSubscriberSMSResponse" message="tns:INetspeedCustomerService_SendSubscriberSMS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AutoPaymentList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/AutoPaymentList" message="tns:INetspeedCustomerService_AutoPaymentList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/AutoPaymentListResponse" message="tns:INetspeedCustomerService_AutoPaymentList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PaymentSystemLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/PaymentSystemLog" message="tns:INetspeedCustomerService_PaymentSystemLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/PaymentSystemLogResponse" message="tns:INetspeedCustomerService_PaymentSystemLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobilexpressPayBill">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/MobilexpressPayBill" message="tns:INetspeedCustomerService_MobilexpressPayBill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/MobilexpressPayBillResponse" message="tns:INetspeedCustomerService_MobilexpressPayBill_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVPOSErrorParameterName">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetVPOSErrorParameterName" message="tns:INetspeedCustomerService_GetVPOSErrorParameterName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetVPOSErrorParameterNameResponse" message="tns:INetspeedCustomerService_GetVPOSErrorParameterName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommitmentLengthList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/CommitmentLengthList" message="tns:INetspeedCustomerService_CommitmentLengthList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/CommitmentLengthListResponse" message="tns:INetspeedCustomerService_CommitmentLengthList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExternalTariffList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/ExternalTariffList" message="tns:INetspeedCustomerService_ExternalTariffList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/ExternalTariffListResponse" message="tns:INetspeedCustomerService_ExternalTariffList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetCustomerFiles" message="tns:INetspeedCustomerService_GetCustomerFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetCustomerFilesResponse" message="tns:INetspeedCustomerService_GetCustomerFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientAttachment">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetClientAttachment" message="tns:INetspeedCustomerService_GetClientAttachment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetClientAttachmentResponse" message="tns:INetspeedCustomerService_GetClientAttachment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupportAttachmentList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetSupportAttachmentList" message="tns:INetspeedCustomerService_GetSupportAttachmentList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetSupportAttachmentListResponse" message="tns:INetspeedCustomerService_GetSupportAttachmentList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupportAttachment">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetSupportAttachment" message="tns:INetspeedCustomerService_GetSupportAttachment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetSupportAttachmentResponse" message="tns:INetspeedCustomerService_GetSupportAttachment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomerAuthenticationWithPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/CustomerAuthenticationWithPassword" message="tns:INetspeedCustomerService_CustomerAuthenticationWithPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/CustomerAuthenticationWithPasswordResponse" message="tns:INetspeedCustomerService_CustomerAuthenticationWithPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HasClientPreRegisterSubscription">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/HasClientPreRegisterSubscription" message="tns:INetspeedCustomerService_HasClientPreRegisterSubscription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/HasClientPreRegisterSubscriptionResponse" message="tns:INetspeedCustomerService_HasClientPreRegisterSubscription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveClientAttachment">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/SaveClientAttachment" message="tns:INetspeedCustomerService_SaveClientAttachment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/SaveClientAttachmentResponse" message="tns:INetspeedCustomerService_SaveClientAttachment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientPDFForm">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetClientPDFForm" message="tns:INetspeedCustomerService_GetClientPDFForm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetClientPDFFormResponse" message="tns:INetspeedCustomerService_GetClientPDFForm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EArchivePDFMail">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/EArchivePDFMail" message="tns:INetspeedCustomerService_EArchivePDFMail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/EArchivePDFMailResponse" message="tns:INetspeedCustomerService_EArchivePDFMail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeClientOnlinePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/ChangeClientOnlinePassword" message="tns:INetspeedCustomerService_ChangeClientOnlinePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/ChangeClientOnlinePasswordResponse" message="tns:INetspeedCustomerService_ChangeClientOnlinePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubscriptionList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetSubscriptionList" message="tns:INetspeedCustomerService_GetSubscriptionList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetSubscriptionListResponse" message="tns:INetspeedCustomerService_GetSubscriptionList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExistingCustomerRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/INetspeedCustomerService/ExistingCustomerRegister" message="tns:INetspeedCustomerService_ExistingCustomerRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INetspeedCustomerService/ExistingCustomerRegisterResponse" message="tns:INetspeedCustomerService_ExistingCustomerRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AppLog">
      <wsdl:input wsaw:Action="http://tempuri.org/INetspeedCustomerService/AppLog" message="tns:INetspeedCustomerService_AppLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INetspeedCustomerService/AppLogResponse" message="tns:INetspeedCustomerService_AppLog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_INetspeedCustomerService" type="tns:INetspeedCustomerService">
    <wsp:PolicyReference URI="#WSHttpBinding_INetspeedCustomerService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProvinces">
      <soap12:operation soapAction="http://tempuri.org/ITelekomInfrastructureService/GetProvinces" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvinceDistricts">
      <soap12:operation soapAction="http://tempuri.org/ITelekomInfrastructureService/GetProvinceDistricts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistrictRuralRegions">
      <soap12:operation soapAction="http://tempuri.org/ITelekomInfrastructureService/GetDistrictRuralRegions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRuralRegionNeighbourhoods">
      <soap12:operation soapAction="http://tempuri.org/ITelekomInfrastructureService/GetRuralRegionNeighbourhoods" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNeighbourhoodStreets">
      <soap12:operation soapAction="http://tempuri.org/ITelekomInfrastructureService/GetNeighbourhoodStreets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStreetBuildings">
      <soap12:operation soapAction="http://tempuri.org/ITelekomInfrastructureService/GetStreetBuildings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuildingApartments">
      <soap12:operation soapAction="http://tempuri.org/ITelekomInfrastructureService/GetBuildingApartments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApartmentAddress">
      <soap12:operation soapAction="http://tempuri.org/ITelekomInfrastructureService/GetApartmentAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceAvailability">
      <soap12:operation soapAction="http://tempuri.org/ITelekomInfrastructureService/ServiceAvailability" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKeyFragment">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetKeyFragment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerInfo">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetCustomerInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerBills">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetCustomerBills" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerAuthentication">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/CustomerAuthentication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerSpecialOffers">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetCustomerSpecialOffers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerTariffAndTrafficInfo">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetCustomerTariffAndTrafficInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupportTypes">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetSupportTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupportSubTypes">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetSupportSubTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupportList">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetSupportList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupportDetailMessages">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetSupportDetailMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupportRegister">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/SupportRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSupportMessage">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/SendSupportMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectionStatus">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/ConnectionStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EArchivePDF">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/EArchivePDF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PayBills">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/PayBills" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVPOSForm">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetVPOSForm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuotaPackageList">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/QuotaPackageList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuotaSale">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/QuotaSale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanHaveQuotaSale">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/CanHaveQuotaSale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCardSMSCheck">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/AddCardSMSCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCard">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/AddCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisteredMobilexpressCardList">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/RegisteredMobilexpressCardList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCardSMSCheck">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/RemoveCardSMSCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCard">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/RemoveCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateAutomaticPayment">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/ActivateAutomaticPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeactivateAutomaticPayment">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/DeactivateAutomaticPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticationSMSConfirm">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/AuthenticationSMSConfirm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscriptionBasicInfo">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/SubscriptionBasicInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeSubClient">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/ChangeSubClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupportHasActiveRequest">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/SupportHasActiveRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupportStatus">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/SupportStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BillPayableAmount">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/BillPayableAmount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentTypeList">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/PaymentTypeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericAppSettings">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GenericAppSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSubscriberSMS">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/SendSubscriberSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoPaymentList">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/AutoPaymentList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentSystemLog">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/PaymentSystemLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MobilexpressPayBill">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/MobilexpressPayBill" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVPOSErrorParameterName">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetVPOSErrorParameterName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommitmentLengthList">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/CommitmentLengthList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExternalTariffList">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/ExternalTariffList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerFiles">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetCustomerFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientAttachment">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetClientAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupportAttachmentList">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetSupportAttachmentList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupportAttachment">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetSupportAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerAuthenticationWithPassword">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/CustomerAuthenticationWithPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasClientPreRegisterSubscription">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/HasClientPreRegisterSubscription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveClientAttachment">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/SaveClientAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientPDFForm">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetClientPDFForm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EArchivePDFMail">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/EArchivePDFMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeClientOnlinePassword">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/ChangeClientOnlinePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubscriptionList">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetSubscriptionList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistingCustomerRegister">
      <soap12:operation soapAction="http://tempuri.org/INetspeedCustomerService/ExistingCustomerRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppLog">
      <soap12:operation soapAction="http://tempuri.org/INetspeedCustomerService/AppLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NetspeedCustomerService">
    <wsdl:port name="WSHttpBinding_INetspeedCustomerService" binding="tns:WSHttpBinding_INetspeedCustomerService">
      <soap12:address location="http://localhost:56365/NetspeedCustomerService.svc/NetspeedCustomerService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:56365/NetspeedCustomerService.svc/NetspeedCustomerService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>