CustomerManagementSystem/Connected Services/GenericCustomerServiceReference/GenericCustomerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.Support" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.Support" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56365/GenericCustomerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" />
  <xs:import schemaLocation="http://localhost:56365/GenericCustomerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests" />
  <xs:complexType name="CustomerServiceSupportTypesRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q1:BaseRequestOfSupportTypesRequestSHA1Owyew9Fe">
        <xs:sequence>
          <xs:element minOccurs="0" name="SupportTypesParameters" nillable="true" type="tns:SupportTypesRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceSupportTypesRequest" nillable="true" type="tns:CustomerServiceSupportTypesRequest" />
  <xs:complexType name="SupportTypesRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsDisabled" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsStaffOnly" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupportTypesRequest" nillable="true" type="tns:SupportTypesRequest" />
  <xs:complexType name="CustomerServiceSupportSubTypesRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q2:BaseRequestOfSupportSubTypesRequestSHA1Owyew9Fe">
        <xs:sequence>
          <xs:element minOccurs="0" name="SupportSubTypesParameters" nillable="true" type="tns:SupportSubTypesRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceSupportSubTypesRequest" nillable="true" type="tns:CustomerServiceSupportSubTypesRequest" />
  <xs:complexType name="SupportSubTypesRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsDisabled" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="SupportTypeID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupportSubTypesRequest" nillable="true" type="tns:SupportSubTypesRequest" />
  <xs:complexType name="CustomerServiceSupportDetailMessagesRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q3:BaseRequestOfSupportDetailMessagesRequestSHA1Owyew9Fe">
        <xs:sequence>
          <xs:element minOccurs="0" name="SupportDetailMessagesParameters" nillable="true" type="tns:SupportDetailMessagesRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceSupportDetailMessagesRequest" nillable="true" type="tns:CustomerServiceSupportDetailMessagesRequest" />
  <xs:complexType name="SupportDetailMessagesRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests" base="q4:BaseSubscriptionRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="SupportId" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SupportDetailMessagesRequest" nillable="true" type="tns:SupportDetailMessagesRequest" />
  <xs:complexType name="CustomerServiceSupportRegisterRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q5:BaseRequestOfSupportRegisterRequestSHA1Owyew9Fe">
        <xs:sequence>
          <xs:element minOccurs="0" name="SupportRegisterParameters" nillable="true" type="tns:SupportRegisterRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceSupportRegisterRequest" nillable="true" type="tns:CustomerServiceSupportRegisterRequest" />
  <xs:complexType name="SupportRegisterRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests" base="q6:BaseSubscriptionRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RequestTypeId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="SubRequestTypeId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SupportRegisterRequest" nillable="true" type="tns:SupportRegisterRequest" />
  <xs:complexType name="CustomerServiceSendSupportMessageRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q7:BaseRequestOfSendSupportMessageRequestSHA1Owyew9Fe">
        <xs:sequence>
          <xs:element minOccurs="0" name="SendSupportMessageParameters" nillable="true" type="tns:SendSupportMessageRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceSendSupportMessageRequest" nillable="true" type="tns:CustomerServiceSendSupportMessageRequest" />
  <xs:complexType name="SendSupportMessageRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubscriptionId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="SupportId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="SupportMessageType" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendSupportMessageRequest" nillable="true" type="tns:SendSupportMessageRequest" />
  <xs:complexType name="CustomerServiceGetSupportAttachmentListRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q8:BaseRequestOfGetSupportAttachmentListRequestSHA1Owyew9Fe">
        <xs:sequence>
          <xs:element minOccurs="0" name="GetSupportAttachmentsParameters" nillable="true" type="tns:GetSupportAttachmentListRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceGetSupportAttachmentListRequest" nillable="true" type="tns:CustomerServiceGetSupportAttachmentListRequest" />
  <xs:complexType name="GetSupportAttachmentListRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetSupportAttachmentListRequest" nillable="true" type="tns:GetSupportAttachmentListRequest" />
  <xs:complexType name="CustomerServiceGetSupportAttachmentRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q9:BaseRequestOfGetSupportAttachmentRequestSHA1Owyew9Fe">
        <xs:sequence>
          <xs:element minOccurs="0" name="GetSupportAttachmentParameters" nillable="true" type="tns:GetSupportAttachmentRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceGetSupportAttachmentRequest" nillable="true" type="tns:CustomerServiceGetSupportAttachmentRequest" />
  <xs:complexType name="GetSupportAttachmentRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupportRequestId" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetSupportAttachmentRequest" nillable="true" type="tns:GetSupportAttachmentRequest" />
  <xs:complexType name="CustomerServiceSaveSupportAttachmentRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q10:BaseRequestOfSaveSupportAttachmentRequestSHA1Owyew9Fe">
        <xs:sequence>
          <xs:element minOccurs="0" name="SaveSupportAttachmentParameters" nillable="true" type="tns:SaveSupportAttachmentRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceSaveSupportAttachmentRequest" nillable="true" type="tns:CustomerServiceSaveSupportAttachmentRequest" />
  <xs:complexType name="SaveSupportAttachmentRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileContent" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileExtention" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StageId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="SupportRequestId" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaveSupportAttachmentRequest" nillable="true" type="tns:SaveSupportAttachmentRequest" />
</xs:schema>