CustomerManagementSystem/Connected Services/GenericCustomerServiceReference/GenericCustomerService61.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.Support" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.Support" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56365/GenericCustomerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" />
  <xs:complexType name="CustomerServicGetSupportAttachmentListResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q1:BaseResponseOfArrayOfGetSupportAttachmentListResponseSHA1Tzfx7AaR">
        <xs:sequence>
          <xs:element minOccurs="0" name="GetSupportAttachmentList" nillable="true" type="tns:ArrayOfGetSupportAttachmentListResponse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServicGetSupportAttachmentListResponse" nillable="true" type="tns:CustomerServicGetSupportAttachmentListResponse" />
  <xs:complexType name="ArrayOfGetSupportAttachmentListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetSupportAttachmentListResponse" nillable="true" type="tns:GetSupportAttachmentListResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetSupportAttachmentListResponse" nillable="true" type="tns:ArrayOfGetSupportAttachmentListResponse" />
  <xs:complexType name="GetSupportAttachmentListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Datetime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileExtention" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MD5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MIMEType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerSideName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StageId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetSupportAttachmentListResponse" nillable="true" type="tns:GetSupportAttachmentListResponse" />
  <xs:complexType name="CustomerServiceGetSupportAttachmentResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q2:BaseResponseOfGetSupportAttachmentResponseSHA1Tzfx7AaR">
        <xs:sequence>
          <xs:element minOccurs="0" name="GetSupportAttachment" nillable="true" type="tns:GetSupportAttachmentResponse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceGetSupportAttachmentResponse" nillable="true" type="tns:CustomerServiceGetSupportAttachmentResponse" />
  <xs:complexType name="GetSupportAttachmentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileContent" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileExtention" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MD5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MIMEType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerSideName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StageId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetSupportAttachmentResponse" nillable="true" type="tns:GetSupportAttachmentResponse" />
  <xs:complexType name="CustomerServiceSaveSupportAttachmentResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" base="q3:BaseResponseOfbooleanSHA1Miy85_SUl">
        <xs:sequence>
          <xs:element minOccurs="0" name="SaveSupportAttachmentResult" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerServiceSaveSupportAttachmentResponse" nillable="true" type="tns:CustomerServiceSaveSupportAttachmentResponse" />
</xs:schema>