CustomerManagementSystem/Connected Services/GenericCustomerServiceReference/GenericCustomerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GenericCustomerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IGenericCustomerService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56365/GenericCustomerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56365/GenericCustomerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56365/GenericCustomerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests" />
      <xsd:import schemaLocation="http://localhost:56365/GenericCustomerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" />
      <xsd:import schemaLocation="http://localhost:56365/GenericCustomerService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses" />
      <xsd:import schemaLocation="http://localhost:56365/GenericCustomerService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.Payment" />
      <xsd:import schemaLocation="http://localhost:56365/GenericCustomerService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.Support" />
      <xsd:import schemaLocation="http://localhost:56365/GenericCustomerService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.Support" />
      <xsd:import schemaLocation="http://localhost:56365/GenericCustomerService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.Payment" />
      <xsd:import schemaLocation="http://localhost:56365/GenericCustomerService.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGenericCustomerService_GetKeyFragment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKeyFragment" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetKeyFragment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKeyFragmentResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetCustomerInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerInfo" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetCustomerInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetCustomerBills_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerBills" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetCustomerBills_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerBillsResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_CustomerAuthentication_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomerAuthentication" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_CustomerAuthentication_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomerAuthenticationResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetCustomerSpecialOffers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerSpecialOffers" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetCustomerSpecialOffers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerSpecialOffersResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetCustomerTariffAndTrafficInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerTariffAndTrafficInfo" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetCustomerTariffAndTrafficInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerTariffAndTrafficInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetSupportTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportTypes" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetSupportTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetSupportSubTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportSubTypes" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetSupportSubTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportSubTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetSupportList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportList" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetSupportList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportListResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetSupportDetailMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportDetailMessages" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetSupportDetailMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportDetailMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_SupportRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:SupportRegister" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_SupportRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:SupportRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_SendSupportMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendSupportMessage" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_SendSupportMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendSupportMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_ConnectionStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectionStatus" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_ConnectionStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectionStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_EArchivePDF_InputMessage">
    <wsdl:part name="parameters" element="tns:EArchivePDF" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_EArchivePDF_OutputMessage">
    <wsdl:part name="parameters" element="tns:EArchivePDFResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_PayBills_InputMessage">
    <wsdl:part name="parameters" element="tns:PayBills" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_PayBills_OutputMessage">
    <wsdl:part name="parameters" element="tns:PayBillsResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetVPOSForm_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVPOSForm" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetVPOSForm_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVPOSFormResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_QuotaPackageList_InputMessage">
    <wsdl:part name="parameters" element="tns:QuotaPackageList" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_QuotaPackageList_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuotaPackageListResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_QuotaSale_InputMessage">
    <wsdl:part name="parameters" element="tns:QuotaSale" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_QuotaSale_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuotaSaleResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_CanHaveQuotaSale_InputMessage">
    <wsdl:part name="parameters" element="tns:CanHaveQuotaSale" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_CanHaveQuotaSale_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanHaveQuotaSaleResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_AddCardSMSCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCardSMSCheck" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_AddCardSMSCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCardSMSCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_AddCard_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCard" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_AddCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCardResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_RegisteredMobilexpressCardList_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisteredMobilexpressCardList" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_RegisteredMobilexpressCardList_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisteredMobilexpressCardListResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_RemoveCardSMSCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCardSMSCheck" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_RemoveCardSMSCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCardSMSCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_RemoveCard_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCard" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_RemoveCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCardResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_ActivateAutomaticPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivateAutomaticPayment" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_ActivateAutomaticPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivateAutomaticPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_DeativateAutomaticPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:DeativateAutomaticPayment" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_DeativateAutomaticPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeativateAutomaticPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_AuthenticationSMSConfirm_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticationSMSConfirm" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_AuthenticationSMSConfirm_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticationSMSConfirmResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_SubscriptionBasicInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscriptionBasicInfo" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_SubscriptionBasicInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscriptionBasicInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_ChangeSubClient_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeSubClient" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_ChangeSubClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeSubClientResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_SupportHasActiveRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SupportHasActiveRequest" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_SupportHasActiveRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SupportHasActiveRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_SupportStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SupportStatus" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_SupportStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SupportStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_BillPayableAmount_InputMessage">
    <wsdl:part name="parameters" element="tns:BillPayableAmount" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_BillPayableAmount_OutputMessage">
    <wsdl:part name="parameters" element="tns:BillPayableAmountResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_PaymentTypeList_InputMessage">
    <wsdl:part name="parameters" element="tns:PaymentTypeList" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_PaymentTypeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:PaymentTypeListResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GenericAppSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:GenericAppSettings" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GenericAppSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenericAppSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_SendSubscriberSMS_InputMessage">
    <wsdl:part name="parameters" element="tns:SendSubscriberSMS" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_SendSubscriberSMS_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendSubscriberSMSResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_AutoPaymentList_InputMessage">
    <wsdl:part name="parameters" element="tns:AutoPaymentList" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_AutoPaymentList_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutoPaymentListResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_PaymentSystemLog_InputMessage">
    <wsdl:part name="parameters" element="tns:PaymentSystemLog" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_PaymentSystemLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:PaymentSystemLogResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_MobilexpressPayBill_InputMessage">
    <wsdl:part name="parameters" element="tns:MobilexpressPayBill" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_MobilexpressPayBill_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobilexpressPayBillResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetVPOSErrorParameterName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVPOSErrorParameterName" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetVPOSErrorParameterName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVPOSErrorParameterNameResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_ExistingCustomerRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:ExistingCustomerRegister" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_ExistingCustomerRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExistingCustomerRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_CommitmentLengthList_InputMessage">
    <wsdl:part name="parameters" element="tns:CommitmentLengthList" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_CommitmentLengthList_OutputMessage">
    <wsdl:part name="parameters" element="tns:CommitmentLengthListResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetProvinces_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProvinces" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetProvinces_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProvincesResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetProvinceDistricts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProvinceDistricts" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetProvinceDistricts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProvinceDistrictsResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetDistrictRuralRegions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDistrictRuralRegions" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetDistrictRuralRegions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDistrictRuralRegionsResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetRuralRegionNeighbourhoods_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRuralRegionNeighbourhoods" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetRuralRegionNeighbourhoods_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRuralRegionNeighbourhoodsResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetNeighbourhoodStreets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNeighbourhoodStreets" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetNeighbourhoodStreets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNeighbourhoodStreetsResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetStreetBuildings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStreetBuildings" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetStreetBuildings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStreetBuildingsResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetBuildingApartments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildingApartments" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetBuildingApartments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildingApartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetApartmentAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApartmentAddress" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetApartmentAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApartmentAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_ExternalTariffList_InputMessage">
    <wsdl:part name="parameters" element="tns:ExternalTariffList" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_ExternalTariffList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExternalTariffListResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_ServiceAvailability_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceAvailability" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_ServiceAvailability_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceAvailabilityResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetCustomerFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerFiles" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetCustomerFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetClientAttachment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientAttachment" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetClientAttachment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetSupportAttachmentList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportAttachmentList" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetSupportAttachmentList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportAttachmentListResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetSupportAttachment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportAttachment" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_GetSupportAttachment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_SaveSupportAttachment_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveSupportAttachment" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_SaveSupportAttachment_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveSupportAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_CustomerAuthenticationWithPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomerAuthenticationWithPassword" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_CustomerAuthenticationWithPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomerAuthenticationWithPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_HasClientPreRegisterSubscription_InputMessage">
    <wsdl:part name="parameters" element="tns:HasClientPreRegisterSubscription" />
  </wsdl:message>
  <wsdl:message name="IGenericCustomerService_HasClientPreRegisterSubscription_OutputMessage">
    <wsdl:part name="parameters" element="tns:HasClientPreRegisterSubscriptionResponse" />
  </wsdl:message>
  <wsdl:portType name="IGenericCustomerService">
    <wsdl:operation name="GetKeyFragment">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetKeyFragment" message="tns:IGenericCustomerService_GetKeyFragment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetKeyFragmentResponse" message="tns:IGenericCustomerService_GetKeyFragment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetCustomerInfo" message="tns:IGenericCustomerService_GetCustomerInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetCustomerInfoResponse" message="tns:IGenericCustomerService_GetCustomerInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerBills">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetCustomerBills" message="tns:IGenericCustomerService_GetCustomerBills_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetCustomerBillsResponse" message="tns:IGenericCustomerService_GetCustomerBills_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomerAuthentication">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/CustomerAuthentication" message="tns:IGenericCustomerService_CustomerAuthentication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/CustomerAuthenticationResponse" message="tns:IGenericCustomerService_CustomerAuthentication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerSpecialOffers">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetCustomerSpecialOffers" message="tns:IGenericCustomerService_GetCustomerSpecialOffers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetCustomerSpecialOffersResponse" message="tns:IGenericCustomerService_GetCustomerSpecialOffers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerTariffAndTrafficInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetCustomerTariffAndTrafficInfo" message="tns:IGenericCustomerService_GetCustomerTariffAndTrafficInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetCustomerTariffAndTrafficInfoResponse" message="tns:IGenericCustomerService_GetCustomerTariffAndTrafficInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupportTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetSupportTypes" message="tns:IGenericCustomerService_GetSupportTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetSupportTypesResponse" message="tns:IGenericCustomerService_GetSupportTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupportSubTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetSupportSubTypes" message="tns:IGenericCustomerService_GetSupportSubTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetSupportSubTypesResponse" message="tns:IGenericCustomerService_GetSupportSubTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupportList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetSupportList" message="tns:IGenericCustomerService_GetSupportList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetSupportListResponse" message="tns:IGenericCustomerService_GetSupportList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupportDetailMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetSupportDetailMessages" message="tns:IGenericCustomerService_GetSupportDetailMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetSupportDetailMessagesResponse" message="tns:IGenericCustomerService_GetSupportDetailMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SupportRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/SupportRegister" message="tns:IGenericCustomerService_SupportRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/SupportRegisterResponse" message="tns:IGenericCustomerService_SupportRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendSupportMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/SendSupportMessage" message="tns:IGenericCustomerService_SendSupportMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/SendSupportMessageResponse" message="tns:IGenericCustomerService_SendSupportMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConnectionStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/ConnectionStatus" message="tns:IGenericCustomerService_ConnectionStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/ConnectionStatusResponse" message="tns:IGenericCustomerService_ConnectionStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EArchivePDF">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/EArchivePDF" message="tns:IGenericCustomerService_EArchivePDF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/EArchivePDFResponse" message="tns:IGenericCustomerService_EArchivePDF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PayBills">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/PayBills" message="tns:IGenericCustomerService_PayBills_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/PayBillsResponse" message="tns:IGenericCustomerService_PayBills_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVPOSForm">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetVPOSForm" message="tns:IGenericCustomerService_GetVPOSForm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetVPOSFormResponse" message="tns:IGenericCustomerService_GetVPOSForm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuotaPackageList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/QuotaPackageList" message="tns:IGenericCustomerService_QuotaPackageList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/QuotaPackageListResponse" message="tns:IGenericCustomerService_QuotaPackageList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuotaSale">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/QuotaSale" message="tns:IGenericCustomerService_QuotaSale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/QuotaSaleResponse" message="tns:IGenericCustomerService_QuotaSale_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CanHaveQuotaSale">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/CanHaveQuotaSale" message="tns:IGenericCustomerService_CanHaveQuotaSale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/CanHaveQuotaSaleResponse" message="tns:IGenericCustomerService_CanHaveQuotaSale_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCardSMSCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/AddCardSMSCheck" message="tns:IGenericCustomerService_AddCardSMSCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/AddCardSMSCheckResponse" message="tns:IGenericCustomerService_AddCardSMSCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/AddCard" message="tns:IGenericCustomerService_AddCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/AddCardResponse" message="tns:IGenericCustomerService_AddCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisteredMobilexpressCardList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/RegisteredMobilexpressCardList" message="tns:IGenericCustomerService_RegisteredMobilexpressCardList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/RegisteredMobilexpressCardListResponse" message="tns:IGenericCustomerService_RegisteredMobilexpressCardList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCardSMSCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/RemoveCardSMSCheck" message="tns:IGenericCustomerService_RemoveCardSMSCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/RemoveCardSMSCheckResponse" message="tns:IGenericCustomerService_RemoveCardSMSCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/RemoveCard" message="tns:IGenericCustomerService_RemoveCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/RemoveCardResponse" message="tns:IGenericCustomerService_RemoveCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivateAutomaticPayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/ActivateAutomaticPayment" message="tns:IGenericCustomerService_ActivateAutomaticPayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/ActivateAutomaticPaymentResponse" message="tns:IGenericCustomerService_ActivateAutomaticPayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeativateAutomaticPayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/DeativateAutomaticPayment" message="tns:IGenericCustomerService_DeativateAutomaticPayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/DeativateAutomaticPaymentResponse" message="tns:IGenericCustomerService_DeativateAutomaticPayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticationSMSConfirm">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/AuthenticationSMSConfirm" message="tns:IGenericCustomerService_AuthenticationSMSConfirm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/AuthenticationSMSConfirmResponse" message="tns:IGenericCustomerService_AuthenticationSMSConfirm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubscriptionBasicInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/SubscriptionBasicInfo" message="tns:IGenericCustomerService_SubscriptionBasicInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/SubscriptionBasicInfoResponse" message="tns:IGenericCustomerService_SubscriptionBasicInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeSubClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/ChangeSubClient" message="tns:IGenericCustomerService_ChangeSubClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/ChangeSubClientResponse" message="tns:IGenericCustomerService_ChangeSubClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SupportHasActiveRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/SupportHasActiveRequest" message="tns:IGenericCustomerService_SupportHasActiveRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/SupportHasActiveRequestResponse" message="tns:IGenericCustomerService_SupportHasActiveRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SupportStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/SupportStatus" message="tns:IGenericCustomerService_SupportStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/SupportStatusResponse" message="tns:IGenericCustomerService_SupportStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BillPayableAmount">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/BillPayableAmount" message="tns:IGenericCustomerService_BillPayableAmount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/BillPayableAmountResponse" message="tns:IGenericCustomerService_BillPayableAmount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PaymentTypeList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/PaymentTypeList" message="tns:IGenericCustomerService_PaymentTypeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/PaymentTypeListResponse" message="tns:IGenericCustomerService_PaymentTypeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenericAppSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GenericAppSettings" message="tns:IGenericCustomerService_GenericAppSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GenericAppSettingsResponse" message="tns:IGenericCustomerService_GenericAppSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendSubscriberSMS">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/SendSubscriberSMS" message="tns:IGenericCustomerService_SendSubscriberSMS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/SendSubscriberSMSResponse" message="tns:IGenericCustomerService_SendSubscriberSMS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AutoPaymentList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/AutoPaymentList" message="tns:IGenericCustomerService_AutoPaymentList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/AutoPaymentListResponse" message="tns:IGenericCustomerService_AutoPaymentList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PaymentSystemLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/PaymentSystemLog" message="tns:IGenericCustomerService_PaymentSystemLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/PaymentSystemLogResponse" message="tns:IGenericCustomerService_PaymentSystemLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobilexpressPayBill">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/MobilexpressPayBill" message="tns:IGenericCustomerService_MobilexpressPayBill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/MobilexpressPayBillResponse" message="tns:IGenericCustomerService_MobilexpressPayBill_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVPOSErrorParameterName">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetVPOSErrorParameterName" message="tns:IGenericCustomerService_GetVPOSErrorParameterName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetVPOSErrorParameterNameResponse" message="tns:IGenericCustomerService_GetVPOSErrorParameterName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExistingCustomerRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/ExistingCustomerRegister" message="tns:IGenericCustomerService_ExistingCustomerRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/ExistingCustomerRegisterResponse" message="tns:IGenericCustomerService_ExistingCustomerRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommitmentLengthList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/CommitmentLengthList" message="tns:IGenericCustomerService_CommitmentLengthList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/CommitmentLengthListResponse" message="tns:IGenericCustomerService_CommitmentLengthList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProvinces">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetProvinces" message="tns:IGenericCustomerService_GetProvinces_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetProvincesResponse" message="tns:IGenericCustomerService_GetProvinces_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProvinceDistricts">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetProvinceDistricts" message="tns:IGenericCustomerService_GetProvinceDistricts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetProvinceDistrictsResponse" message="tns:IGenericCustomerService_GetProvinceDistricts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDistrictRuralRegions">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetDistrictRuralRegions" message="tns:IGenericCustomerService_GetDistrictRuralRegions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetDistrictRuralRegionsResponse" message="tns:IGenericCustomerService_GetDistrictRuralRegions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRuralRegionNeighbourhoods">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetRuralRegionNeighbourhoods" message="tns:IGenericCustomerService_GetRuralRegionNeighbourhoods_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetRuralRegionNeighbourhoodsResponse" message="tns:IGenericCustomerService_GetRuralRegionNeighbourhoods_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNeighbourhoodStreets">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetNeighbourhoodStreets" message="tns:IGenericCustomerService_GetNeighbourhoodStreets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetNeighbourhoodStreetsResponse" message="tns:IGenericCustomerService_GetNeighbourhoodStreets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStreetBuildings">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetStreetBuildings" message="tns:IGenericCustomerService_GetStreetBuildings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetStreetBuildingsResponse" message="tns:IGenericCustomerService_GetStreetBuildings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBuildingApartments">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetBuildingApartments" message="tns:IGenericCustomerService_GetBuildingApartments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetBuildingApartmentsResponse" message="tns:IGenericCustomerService_GetBuildingApartments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApartmentAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetApartmentAddress" message="tns:IGenericCustomerService_GetApartmentAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetApartmentAddressResponse" message="tns:IGenericCustomerService_GetApartmentAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExternalTariffList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/ExternalTariffList" message="tns:IGenericCustomerService_ExternalTariffList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/ExternalTariffListResponse" message="tns:IGenericCustomerService_ExternalTariffList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceAvailability">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/ServiceAvailability" message="tns:IGenericCustomerService_ServiceAvailability_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/ServiceAvailabilityResponse" message="tns:IGenericCustomerService_ServiceAvailability_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetCustomerFiles" message="tns:IGenericCustomerService_GetCustomerFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetCustomerFilesResponse" message="tns:IGenericCustomerService_GetCustomerFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientAttachment">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetClientAttachment" message="tns:IGenericCustomerService_GetClientAttachment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetClientAttachmentResponse" message="tns:IGenericCustomerService_GetClientAttachment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupportAttachmentList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetSupportAttachmentList" message="tns:IGenericCustomerService_GetSupportAttachmentList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetSupportAttachmentListResponse" message="tns:IGenericCustomerService_GetSupportAttachmentList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupportAttachment">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/GetSupportAttachment" message="tns:IGenericCustomerService_GetSupportAttachment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/GetSupportAttachmentResponse" message="tns:IGenericCustomerService_GetSupportAttachment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveSupportAttachment">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/SaveSupportAttachment" message="tns:IGenericCustomerService_SaveSupportAttachment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/SaveSupportAttachmentResponse" message="tns:IGenericCustomerService_SaveSupportAttachment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomerAuthenticationWithPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/CustomerAuthenticationWithPassword" message="tns:IGenericCustomerService_CustomerAuthenticationWithPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/CustomerAuthenticationWithPasswordResponse" message="tns:IGenericCustomerService_CustomerAuthenticationWithPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HasClientPreRegisterSubscription">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericCustomerService/HasClientPreRegisterSubscription" message="tns:IGenericCustomerService_HasClientPreRegisterSubscription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericCustomerService/HasClientPreRegisterSubscriptionResponse" message="tns:IGenericCustomerService_HasClientPreRegisterSubscription_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IGenericCustomerService" type="tns:IGenericCustomerService">
    <wsp:PolicyReference URI="#WSHttpBinding_IGenericCustomerService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetKeyFragment">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetKeyFragment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerInfo">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetCustomerInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerBills">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetCustomerBills" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerAuthentication">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/CustomerAuthentication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerSpecialOffers">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetCustomerSpecialOffers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerTariffAndTrafficInfo">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetCustomerTariffAndTrafficInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupportTypes">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetSupportTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupportSubTypes">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetSupportSubTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupportList">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetSupportList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupportDetailMessages">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetSupportDetailMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupportRegister">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/SupportRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSupportMessage">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/SendSupportMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectionStatus">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/ConnectionStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EArchivePDF">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/EArchivePDF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PayBills">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/PayBills" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVPOSForm">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetVPOSForm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuotaPackageList">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/QuotaPackageList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuotaSale">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/QuotaSale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanHaveQuotaSale">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/CanHaveQuotaSale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCardSMSCheck">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/AddCardSMSCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCard">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/AddCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisteredMobilexpressCardList">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/RegisteredMobilexpressCardList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCardSMSCheck">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/RemoveCardSMSCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCard">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/RemoveCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateAutomaticPayment">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/ActivateAutomaticPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeativateAutomaticPayment">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/DeativateAutomaticPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticationSMSConfirm">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/AuthenticationSMSConfirm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscriptionBasicInfo">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/SubscriptionBasicInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeSubClient">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/ChangeSubClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupportHasActiveRequest">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/SupportHasActiveRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupportStatus">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/SupportStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BillPayableAmount">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/BillPayableAmount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentTypeList">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/PaymentTypeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenericAppSettings">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GenericAppSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSubscriberSMS">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/SendSubscriberSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoPaymentList">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/AutoPaymentList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentSystemLog">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/PaymentSystemLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MobilexpressPayBill">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/MobilexpressPayBill" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVPOSErrorParameterName">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetVPOSErrorParameterName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistingCustomerRegister">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/ExistingCustomerRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommitmentLengthList">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/CommitmentLengthList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvinces">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetProvinces" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvinceDistricts">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetProvinceDistricts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistrictRuralRegions">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetDistrictRuralRegions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRuralRegionNeighbourhoods">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetRuralRegionNeighbourhoods" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNeighbourhoodStreets">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetNeighbourhoodStreets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStreetBuildings">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetStreetBuildings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuildingApartments">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetBuildingApartments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApartmentAddress">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetApartmentAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExternalTariffList">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/ExternalTariffList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceAvailability">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/ServiceAvailability" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerFiles">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetCustomerFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientAttachment">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetClientAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupportAttachmentList">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetSupportAttachmentList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupportAttachment">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/GetSupportAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSupportAttachment">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/SaveSupportAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerAuthenticationWithPassword">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/CustomerAuthenticationWithPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasClientPreRegisterSubscription">
      <soap12:operation soapAction="http://tempuri.org/IGenericCustomerService/HasClientPreRegisterSubscription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GenericCustomerService">
    <wsdl:port name="WSHttpBinding_IGenericCustomerService" binding="tns:WSHttpBinding_IGenericCustomerService">
      <soap12:address location="http://localhost:56365/GenericCustomerService.svc/GenericCustomerService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:56365/GenericCustomerService.svc/GenericCustomerService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>