CustomerManagementSystem/Connected Services/GenericCustomerServiceReference/GenericCustomerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseRequestOfBaseSubscriptionRequestSHA1CuT410mT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="BaseSubscriptionRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfBaseSubscriptionRequestSHA1CuT410mT" nillable="true" type="tns:BaseRequestOfBaseSubscriptionRequestSHA1CuT410mT" />
  <xs:complexType name="BaseRequestOfSHA1o_Pr6u_PMh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Culture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseRequestOfSHA1o_Pr6u_PMh" nillable="true" type="tns:BaseRequestOfSHA1o_Pr6u_PMh" />
  <xs:complexType name="BaseResponseOfGetCustomerInfoResponseSHA1KVWl_PpN3">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="GetCustomerInfoResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfGetCustomerInfoResponseSHA1KVWl_PpN3" nillable="true" type="tns:BaseResponseOfGetCustomerInfoResponseSHA1KVWl_PpN3" />
  <xs:complexType name="BaseResponseOfSHA1o_Pr6u_PMh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Culture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="tns:ServiceResponse" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponseOfSHA1o_Pr6u_PMh" nillable="true" type="tns:BaseResponseOfSHA1o_Pr6u_PMh" />
  <xs:complexType name="ServiceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResponse" nillable="true" type="tns:ServiceResponse" />
  <xs:complexType name="BaseResponseOfGetCustomerBillInfoSHA1m7dItXwX">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="GetCustomerBillInfo" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.Payment" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfGetCustomerBillInfoSHA1m7dItXwX" nillable="true" type="tns:BaseResponseOfGetCustomerBillInfoSHA1m7dItXwX" />
  <xs:complexType name="BaseRequestOfAuthenticationRequestSHA1CuT410mT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AuthenticationRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfAuthenticationRequestSHA1CuT410mT" nillable="true" type="tns:BaseRequestOfAuthenticationRequestSHA1CuT410mT" />
  <xs:complexType name="BaseResponseOfCustomerAuthenticationResponseSHA1KVWl_PpN3">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CustomerAuthenticationResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfCustomerAuthenticationResponseSHA1KVWl_PpN3" nillable="true" type="tns:BaseResponseOfCustomerAuthenticationResponseSHA1KVWl_PpN3" />
  <xs:complexType name="BaseResponseOfArrayOfGetCustomerSpecialOffersResponseSHA1KVWl_PpN3">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfGetCustomerSpecialOffersResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfArrayOfGetCustomerSpecialOffersResponseSHA1KVWl_PpN3" nillable="true" type="tns:BaseResponseOfArrayOfGetCustomerSpecialOffersResponseSHA1KVWl_PpN3" />
  <xs:complexType name="BaseResponseOfGetCustomerTariffAndTrafficInfoResponseSHA1KVWl_PpN3">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="GetCustomerTariffAndTrafficInfoResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfGetCustomerTariffAndTrafficInfoResponseSHA1KVWl_PpN3" nillable="true" type="tns:BaseResponseOfGetCustomerTariffAndTrafficInfoResponseSHA1KVWl_PpN3" />
  <xs:complexType name="BaseRequestOfSupportTypesRequestSHA1Owyew9Fe">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SupportTypesRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.Support" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfSupportTypesRequestSHA1Owyew9Fe" nillable="true" type="tns:BaseRequestOfSupportTypesRequestSHA1Owyew9Fe" />
  <xs:complexType name="BaseResponseOfArrayOfValueNamePairSHA1KVWl_PpN3">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfValueNamePair" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfArrayOfValueNamePairSHA1KVWl_PpN3" nillable="true" type="tns:BaseResponseOfArrayOfValueNamePairSHA1KVWl_PpN3" />
  <xs:complexType name="BaseRequestOfSupportSubTypesRequestSHA1Owyew9Fe">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SupportSubTypesRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.Support" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfSupportSubTypesRequestSHA1Owyew9Fe" nillable="true" type="tns:BaseRequestOfSupportSubTypesRequestSHA1Owyew9Fe" />
  <xs:complexType name="BaseResponseOfArrayOfGetCustomerSupportListResponseSHA1Tzfx7AaR">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfGetCustomerSupportListResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.Support" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfArrayOfGetCustomerSupportListResponseSHA1Tzfx7AaR" nillable="true" type="tns:BaseResponseOfArrayOfGetCustomerSupportListResponseSHA1Tzfx7AaR" />
  <xs:complexType name="BaseRequestOfSupportDetailMessagesRequestSHA1Owyew9Fe">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SupportDetailMessagesRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.Support" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfSupportDetailMessagesRequestSHA1Owyew9Fe" nillable="true" type="tns:BaseRequestOfSupportDetailMessagesRequestSHA1Owyew9Fe" />
  <xs:complexType name="BaseResponseOfSupportDetailMessagesResponseSHA1Tzfx7AaR">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SupportDetailMessagesResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.Support" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfSupportDetailMessagesResponseSHA1Tzfx7AaR" nillable="true" type="tns:BaseResponseOfSupportDetailMessagesResponseSHA1Tzfx7AaR" />
  <xs:complexType name="BaseRequestOfSupportRegisterRequestSHA1Owyew9Fe">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SupportRegisterRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.Support" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfSupportRegisterRequestSHA1Owyew9Fe" nillable="true" type="tns:BaseRequestOfSupportRegisterRequestSHA1Owyew9Fe" />
  <xs:complexType name="BaseResponseOfSupportRegisterResponseSHA1Tzfx7AaR">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SupportRegisterResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.Support" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfSupportRegisterResponseSHA1Tzfx7AaR" nillable="true" type="tns:BaseResponseOfSupportRegisterResponseSHA1Tzfx7AaR" />
  <xs:complexType name="BaseRequestOfSendSupportMessageRequestSHA1Owyew9Fe">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SendSupportMessageRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.Support" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfSendSupportMessageRequestSHA1Owyew9Fe" nillable="true" type="tns:BaseRequestOfSendSupportMessageRequestSHA1Owyew9Fe" />
  <xs:complexType name="BaseResponseOfNullableOflongSHA1qBRhzOKh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NullableOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System">
            <GenericParameter Name="long" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfNullableOflongSHA1qBRhzOKh" nillable="true" type="tns:BaseResponseOfNullableOflongSHA1qBRhzOKh" />
  <xs:complexType name="BaseResponseOfGetCustomerConnectionStatusResponseSHA1KVWl_PpN3">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="GetCustomerConnectionStatusResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfGetCustomerConnectionStatusResponseSHA1KVWl_PpN3" nillable="true" type="tns:BaseResponseOfGetCustomerConnectionStatusResponseSHA1KVWl_PpN3" />
  <xs:complexType name="BaseRequestOfEArchivePDFRequestSHA1_Sce8qIMB">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="EArchivePDFRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.Payment" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfEArchivePDFRequestSHA1_Sce8qIMB" nillable="true" type="tns:BaseRequestOfEArchivePDFRequestSHA1_Sce8qIMB" />
  <xs:complexType name="BaseResponseOfEArchivePDFResponseSHA1m7dItXwX">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="EArchivePDFResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.Payment" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfEArchivePDFResponseSHA1m7dItXwX" nillable="true" type="tns:BaseResponseOfEArchivePDFResponseSHA1m7dItXwX" />
  <xs:complexType name="BaseRequestOfPayBillsRequestSHA1_Sce8qIMB">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PayBillsRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.Payment" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfPayBillsRequestSHA1_Sce8qIMB" nillable="true" type="tns:BaseRequestOfPayBillsRequestSHA1_Sce8qIMB" />
  <xs:complexType name="BaseResponseOfPayBillsResponseSHA1m7dItXwX">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PayBillsResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.Payment" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfPayBillsResponseSHA1m7dItXwX" nillable="true" type="tns:BaseResponseOfPayBillsResponseSHA1m7dItXwX" />
  <xs:complexType name="BaseRequestOfVPOSFormRequestSHA1_Sce8qIMB">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="VPOSFormRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.Payment" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfVPOSFormRequestSHA1_Sce8qIMB" nillable="true" type="tns:BaseRequestOfVPOSFormRequestSHA1_Sce8qIMB" />
  <xs:complexType name="BaseResponseOfVPOSFormResponseSHA1m7dItXwX">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="VPOSFormResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.Payment" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfVPOSFormResponseSHA1m7dItXwX" nillable="true" type="tns:BaseResponseOfVPOSFormResponseSHA1m7dItXwX" />
  <xs:complexType name="BaseResponseOfArrayOfQuotaPackageListResponseSHA1m7dItXwX">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfQuotaPackageListResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.Payment" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfArrayOfQuotaPackageListResponseSHA1m7dItXwX" nillable="true" type="tns:BaseResponseOfArrayOfQuotaPackageListResponseSHA1m7dItXwX" />
  <xs:complexType name="BaseRequestOfQuotaSaleRequestSHA1_Sce8qIMB">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="QuotaSaleRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.Payment" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfQuotaSaleRequestSHA1_Sce8qIMB" nillable="true" type="tns:BaseRequestOfQuotaSaleRequestSHA1_Sce8qIMB" />
  <xs:complexType name="BaseResponseOfNullableOfbooleanSHA1qBRhzOKh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NullableOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System">
            <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfNullableOfbooleanSHA1qBRhzOKh" nillable="true" type="tns:BaseResponseOfNullableOfbooleanSHA1qBRhzOKh" />
  <xs:complexType name="BaseResponseOfstringSHA1Miy85_SUl">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfstringSHA1Miy85_SUl" nillable="true" type="tns:BaseResponseOfstringSHA1Miy85_SUl" />
  <xs:complexType name="BaseRequestOfAddCardRequestSHA1_Sce8qIMB">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AddCardRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.Payment" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfAddCardRequestSHA1_Sce8qIMB" nillable="true" type="tns:BaseRequestOfAddCardRequestSHA1_Sce8qIMB" />
  <xs:complexType name="BaseRequestOfRegisteredCardsRequestSHA1_Sce8qIMB">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RegisteredCardsRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.Payment" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfRegisteredCardsRequestSHA1_Sce8qIMB" nillable="true" type="tns:BaseRequestOfRegisteredCardsRequestSHA1_Sce8qIMB" />
  <xs:complexType name="BaseResponseOfArrayOfRegisteredCardsResponseSHA1m7dItXwX">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfRegisteredCardsResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.Payment" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfArrayOfRegisteredCardsResponseSHA1m7dItXwX" nillable="true" type="tns:BaseResponseOfArrayOfRegisteredCardsResponseSHA1m7dItXwX" />
  <xs:complexType name="BaseRequestOfRemoveCardSMSCheckRequestSHA1_Sce8qIMB">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RemoveCardSMSCheckRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.Payment" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfRemoveCardSMSCheckRequestSHA1_Sce8qIMB" nillable="true" type="tns:BaseRequestOfRemoveCardSMSCheckRequestSHA1_Sce8qIMB" />
  <xs:complexType name="BaseRequestOfRemoveCardRequestSHA1_Sce8qIMB">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RemoveCardRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.Payment" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfRemoveCardRequestSHA1_Sce8qIMB" nillable="true" type="tns:BaseRequestOfRemoveCardRequestSHA1_Sce8qIMB" />
  <xs:complexType name="BaseRequestOfActivateAutomaticPaymentRequestSHA1_Sce8qIMB">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ActivateAutomaticPaymentRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.Payment" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfActivateAutomaticPaymentRequestSHA1_Sce8qIMB" nillable="true" type="tns:BaseRequestOfActivateAutomaticPaymentRequestSHA1_Sce8qIMB" />
  <xs:complexType name="BaseRequestOfAuthenticationSMSConfirmRequestSHA1CuT410mT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AuthenticationSMSConfirmRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfAuthenticationSMSConfirmRequestSHA1CuT410mT" nillable="true" type="tns:BaseRequestOfAuthenticationSMSConfirmRequestSHA1CuT410mT" />
  <xs:complexType name="BaseResponseOfAuthenticationSMSConfirmResponseSHA1KVWl_PpN3">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AuthenticationSMSConfirmResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfAuthenticationSMSConfirmResponseSHA1KVWl_PpN3" nillable="true" type="tns:BaseResponseOfAuthenticationSMSConfirmResponseSHA1KVWl_PpN3" />
  <xs:complexType name="BaseResponseOfSubscriptionBasicInformationResponseSHA1KVWl_PpN3">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SubscriptionBasicInformationResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfSubscriptionBasicInformationResponseSHA1KVWl_PpN3" nillable="true" type="tns:BaseResponseOfSubscriptionBasicInformationResponseSHA1KVWl_PpN3" />
  <xs:complexType name="BaseRequestOfChangeSubClientRequestSHA1CuT410mT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ChangeSubClientRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfChangeSubClientRequestSHA1CuT410mT" nillable="true" type="tns:BaseRequestOfChangeSubClientRequestSHA1CuT410mT" />
  <xs:complexType name="BaseResponseOfChangeSubClientResponseSHA1KVWl_PpN3">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ChangeSubClientResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfChangeSubClientResponseSHA1KVWl_PpN3" nillable="true" type="tns:BaseResponseOfChangeSubClientResponseSHA1KVWl_PpN3" />
  <xs:complexType name="BaseResponseOfSupportStatusResponseSHA1Tzfx7AaR">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SupportStatusResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.Support" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfSupportStatusResponseSHA1Tzfx7AaR" nillable="true" type="tns:BaseResponseOfSupportStatusResponseSHA1Tzfx7AaR" />
  <xs:complexType name="BaseRequestOfBillPayableAmountRequestSHA1_Sce8qIMB">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="BillPayableAmountRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.Payment" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfBillPayableAmountRequestSHA1_Sce8qIMB" nillable="true" type="tns:BaseRequestOfBillPayableAmountRequestSHA1_Sce8qIMB" />
  <xs:complexType name="BaseResponseOfNullableOfdecimalSHA1qBRhzOKh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NullableOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System">
            <GenericParameter Name="decimal" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfNullableOfdecimalSHA1qBRhzOKh" nillable="true" type="tns:BaseResponseOfNullableOfdecimalSHA1qBRhzOKh" />
  <xs:complexType name="BaseResponseOfArrayOfKeyValueOfintstringSHA1PGu3YCeQ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfKeyValueOf{0}{1}{#}" Namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
            <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
            <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfArrayOfKeyValueOfintstringSHA1PGu3YCeQ" nillable="true" type="tns:BaseResponseOfArrayOfKeyValueOfintstringSHA1PGu3YCeQ" />
  <xs:complexType name="BaseResponseOfGenericAppSettingsResponseSHA1KVWl_PpN3">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="GenericAppSettingsResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfGenericAppSettingsResponseSHA1KVWl_PpN3" nillable="true" type="tns:BaseResponseOfGenericAppSettingsResponseSHA1KVWl_PpN3" />
  <xs:complexType name="BaseRequestOfSendSubscriberSMSRequestSHA1CuT410mT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SendSubscriberSMSRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfSendSubscriberSMSRequestSHA1CuT410mT" nillable="true" type="tns:BaseRequestOfSendSubscriberSMSRequestSHA1CuT410mT" />
  <xs:complexType name="BaseRequestOfAutoPaymentListRequestSHA1_Sce8qIMB">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AutoPaymentListRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.Payment" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfAutoPaymentListRequestSHA1_Sce8qIMB" nillable="true" type="tns:BaseRequestOfAutoPaymentListRequestSHA1_Sce8qIMB" />
  <xs:complexType name="BaseResponseOfArrayOfAutoPaymentListResponseSHA1m7dItXwX">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfAutoPaymentListResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.Payment" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfArrayOfAutoPaymentListResponseSHA1m7dItXwX" nillable="true" type="tns:BaseResponseOfArrayOfAutoPaymentListResponseSHA1m7dItXwX" />
  <xs:complexType name="BaseRequestOfPaymentSystemLogRequestSHA1_Sce8qIMB">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PaymentSystemLogRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.Payment" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfPaymentSystemLogRequestSHA1_Sce8qIMB" nillable="true" type="tns:BaseRequestOfPaymentSystemLogRequestSHA1_Sce8qIMB" />
  <xs:complexType name="BaseRequestOfMobilexpressPayBillRequestSHA1_Sce8qIMB">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="MobilexpressPayBillRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.Payment" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfMobilexpressPayBillRequestSHA1_Sce8qIMB" nillable="true" type="tns:BaseRequestOfMobilexpressPayBillRequestSHA1_Sce8qIMB" />
  <xs:complexType name="BaseRequestOfExistingCustomerRegisterRequestSHA1CuT410mT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ExistingCustomerRegisterRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfExistingCustomerRegisterRequestSHA1CuT410mT" nillable="true" type="tns:BaseRequestOfExistingCustomerRegisterRequestSHA1CuT410mT" />
  <xs:complexType name="BaseResponseOfArrayOfKeyValueOfstringstringSHA1PGu3YCeQ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfKeyValueOf{0}{1}{#}" Namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
            <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
            <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfArrayOfKeyValueOfstringstringSHA1PGu3YCeQ" nillable="true" type="tns:BaseResponseOfArrayOfKeyValueOfstringstringSHA1PGu3YCeQ" />
  <xs:complexType name="BaseRequestOfNullableOflongSHA1qBRhzOKh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NullableOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System">
            <GenericParameter Name="long" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfNullableOflongSHA1qBRhzOKh" nillable="true" type="tns:BaseRequestOfNullableOflongSHA1qBRhzOKh" />
  <xs:complexType name="BaseResponseOfAddressDetailsResponseSHA1KVWl_PpN3">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AddressDetailsResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfAddressDetailsResponseSHA1KVWl_PpN3" nillable="true" type="tns:BaseResponseOfAddressDetailsResponseSHA1KVWl_PpN3" />
  <xs:complexType name="BaseResponseOfArrayOfExternalTariffResponseSHA1KVWl_PpN3">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfExternalTariffResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfArrayOfExternalTariffResponseSHA1KVWl_PpN3" nillable="true" type="tns:BaseResponseOfArrayOfExternalTariffResponseSHA1KVWl_PpN3" />
  <xs:complexType name="BaseRequestOfServiceAvailabilityRequestSHA1CuT410mT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ServiceAvailabilityRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfServiceAvailabilityRequestSHA1CuT410mT" nillable="true" type="tns:BaseRequestOfServiceAvailabilityRequestSHA1CuT410mT" />
  <xs:complexType name="BaseResponseOfServiceAvailabilityResponseSHA1KVWl_PpN3">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ServiceAvailabilityResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfServiceAvailabilityResponseSHA1KVWl_PpN3" nillable="true" type="tns:BaseResponseOfServiceAvailabilityResponseSHA1KVWl_PpN3" />
  <xs:complexType name="BaseResponseOfArrayOfGetCustomerFilesResponseSHA1KVWl_PpN3">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfGetCustomerFilesResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfArrayOfGetCustomerFilesResponseSHA1KVWl_PpN3" nillable="true" type="tns:BaseResponseOfArrayOfGetCustomerFilesResponseSHA1KVWl_PpN3" />
  <xs:complexType name="BaseRequestOfGetClientAttachmentRequestSHA1CuT410mT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="GetClientAttachmentRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfGetClientAttachmentRequestSHA1CuT410mT" nillable="true" type="tns:BaseRequestOfGetClientAttachmentRequestSHA1CuT410mT" />
  <xs:complexType name="BaseResponseOfGetClientAttachmentResponseSHA1KVWl_PpN3">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="GetClientAttachmentResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfGetClientAttachmentResponseSHA1KVWl_PpN3" nillable="true" type="tns:BaseResponseOfGetClientAttachmentResponseSHA1KVWl_PpN3" />
  <xs:complexType name="BaseRequestOfGetSupportAttachmentListRequestSHA1Owyew9Fe">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="GetSupportAttachmentListRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.Support" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfGetSupportAttachmentListRequestSHA1Owyew9Fe" nillable="true" type="tns:BaseRequestOfGetSupportAttachmentListRequestSHA1Owyew9Fe" />
  <xs:complexType name="BaseResponseOfArrayOfGetSupportAttachmentListResponseSHA1Tzfx7AaR">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfGetSupportAttachmentListResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.Support" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfArrayOfGetSupportAttachmentListResponseSHA1Tzfx7AaR" nillable="true" type="tns:BaseResponseOfArrayOfGetSupportAttachmentListResponseSHA1Tzfx7AaR" />
  <xs:complexType name="BaseRequestOfGetSupportAttachmentRequestSHA1Owyew9Fe">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="GetSupportAttachmentRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.Support" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfGetSupportAttachmentRequestSHA1Owyew9Fe" nillable="true" type="tns:BaseRequestOfGetSupportAttachmentRequestSHA1Owyew9Fe" />
  <xs:complexType name="BaseResponseOfGetSupportAttachmentResponseSHA1Tzfx7AaR">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="GetSupportAttachmentResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses.Support" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfGetSupportAttachmentResponseSHA1Tzfx7AaR" nillable="true" type="tns:BaseResponseOfGetSupportAttachmentResponseSHA1Tzfx7AaR" />
  <xs:complexType name="BaseRequestOfSaveSupportAttachmentRequestSHA1Owyew9Fe">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SaveSupportAttachmentRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests.Support" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfSaveSupportAttachmentRequestSHA1Owyew9Fe" nillable="true" type="tns:BaseRequestOfSaveSupportAttachmentRequestSHA1Owyew9Fe" />
  <xs:complexType name="BaseResponseOfbooleanSHA1Miy85_SUl">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfbooleanSHA1Miy85_SUl" nillable="true" type="tns:BaseResponseOfbooleanSHA1Miy85_SUl" />
  <xs:complexType name="BaseRequestOfAuthenticationWithPasswordRequestSHA1CuT410mT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseRequestOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AuthenticationWithPasswordRequest" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Requests" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequestOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseRequestOfAuthenticationWithPasswordRequestSHA1CuT410mT" nillable="true" type="tns:BaseRequestOfAuthenticationWithPasswordRequestSHA1CuT410mT" />
  <xs:complexType name="BaseResponseOfCustomerAuthenticationWithPasswordResponseSHA1KVWl_PpN3">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseResponseOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/RezaB.API.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CustomerAuthenticationWithPasswordResponse" Namespace="http://schemas.datacontract.org/2004/07/RadiusR.API.CustomerWebService.Responses" />
          <GenericParameter Name="SHA1" Namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponseOfSHA1o_Pr6u_PMh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseResponseOfCustomerAuthenticationWithPasswordResponseSHA1KVWl_PpN3" nillable="true" type="tns:BaseResponseOfCustomerAuthenticationWithPasswordResponseSHA1KVWl_PpN3" />
</xs:schema>